<p-table [value]="movies">
    <ng-template pTemplate="header">
        <tr *ngIf="isDataLoaded">
            <th>#</th>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Poster</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie>
        <tr *ngIf="isDataLoaded">
            <td>{{movie.index}}</td>
            <td>{{movie.name}}</td>
            <td>{{movie.year}}</td>
            <td>{{movie.rating}}</td>
            <td><p-image src="{{movie.poster}}" alt="Image"></p-image></td>
        </tr>
    </ng-template>
</p-table>