/* You can add global styles to this file, and also import other style files */

body {
    background-color: #1f2d40;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgba(255, 255, 255, 0.87);
}

p-checkbox {
    margin-top: 0.5em;
}

p-button {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    border: 1px solid rgb(48, 69, 98);
}